source https://api.nuget.org/v3/index.json

storage: none
framework: netstandard2.0

# Add the nuget packages you use here
nuget FSharp.Core
nuget System.Configuration.ConfigurationManager
nuget NETStandard.Library.NETFramework
nuget Microsoft.Data.SqlClient
github Thorium/Linq.Expression.Optimizer src/Code/ExpressionOptimizer.fs
// type provider SDK
github fsprojects/FSharp.TypeProviders.SDK src/ProvidedTypes.fsi
github fsprojects/FSharp.TypeProviders.SDK src/ProvidedTypes.fs

group Test
  source https://api.nuget.org/v3/index.json
  framework: netcoreapp3.1

  nuget FSharp.Core
  nuget Microsoft.NET.Test.Sdk